/* polices */
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

/* Color palette */
:root {
  --color-primary  : #2584ff;
  --color-secondary: #ff006a;
  --color-accent   : #ff3400;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* change border-box */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* text */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 6rem;
}

p {
  font-family: 'Inter', sans-serif;
  font-size  : 1.8rem;
}

/* img */
img {
  width: 100%;
}

/* liens */
a {
  text-decoration: none;
}

/* container */
.container {
  max-width: 1140px;
  margin   : 0 auto;
}

/* blocks */
.block {
  --padding-vertical: 5rem;
  padding           : var(--padding-vertical) 2rem;
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* buttons */
.btn {
  font-family   : 'Inter', sans-serif;
  text-transform: uppercase;
  border        : none;
  padding       : 1rem 1.5rem;
  color         : white;
  border-radius : 2rem;
}

.btn-primary {
  background-color: var(--color-primary);
}

.btn-secondary{
  background-color: var(--color-secondary);
}

/* icons */